*{
    box-sizing: border-box;
}

body {
margin:0;
font-family:"outfit";
background-color: white;
}



.card {
background-color: #ffffff;
border-radius: 15px;
overflow: hidden;
box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 20px auto;
}
  
.card img {
width: 100%;
height: auto;
display: block;
 border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.card-content {

padding: 20px;
}

.card h1{
color:hsl(24, 5%, 18%);
margin-bottom: 10px;
font-family: 'young serif';

}


.card p.description {
color: hsl(30, 10%, 34%);
margin-bottom: 20px;
}

.section{

    margin-bottom: 20px;
    color: hsl(30, 10%, 34%);
}

.section h2{

    color: hsl(14, 45%, 36%);
    margin-bottom: 8px;
border-bottom: 1px solid #ddd;
padding-bottom:4px ;
font-family: 'young serif';
}


.section h5{

    color:hsl(24, 5%, 18%);
    font-family: 'young serif';
}

ul li,ol li{
padding-left: 20px;
margin-top: 5px;
color: hsl(30, 10%, 34%);
margin-bottom: 8px;
}
.section table{
 width: 100%;
    border-collapse: collapse;
   
}
.section table td:last-child{
padding: 4px 0;
color: hsl(14, 45%, 36%);
font-weight: 500;
}


.section table td:first-child{
padding: 4px 0;
color:hsl(30, 10%, 34%);
font-weight: 500;
}


.section table tr{

padding: 4px 0;
}

.prep-time {
    background-color: #fddde6;
    color: hsl(30, 10%, 34%);
margin-bottom: 20px;
padding: 15px;
border-radius: 10px;
}

.prep-time h2{
    border-bottom: none;
padding-bottom: 0;
color:   hsl(332, 51%, 32%);
}


@media (min-width: 768px) {
  .card {
    max-width: 700px;
    padding: 30px;
  }

  .card-content {
    padding: 30px;
  }

  .card h1 {
    font-size: 2rem;
  }

  .section h2 {
    font-size: 1.4rem;
  }
}



@media (max-width: 375px) {
  .card-content {
    padding: 15px;
  }

  .card h1 {
    font-size: 1.4rem;
  }

  .section h2 {
    font-size: 1.1rem;
  }
}